@font-face {
  font-family: "iconfont"; /* Project id  */
  src: url('~@/static/fonts/iconfont/iconfont.ttf?t=1731481972831') format('truetype');
}

.iconfont {
  font-family: "iconfont" !important;
  font-size: 16px;
  font-style: normal;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-gonggao:before {
  content: "\e60f";
}

